* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
    text-justify: inter-word;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

header h1 {
    text-align: center;
    margin-bottom: 10px;
}

header h2 {
    text-align: center;
    margin-bottom: 10 px;
}

h1 {
    font-size: 2em;
    color: black;
    text-align: center;
}

h2 {
    text-align: left;
}

main {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.lista-notas ul {
    margin-bottom: 10px;
}

.lista-notas a {
    color: black;
    text-decoration: none;
}

.nota h2 {
    font-size: 1.5em;
    color: black;
    margin-bottom: 10px;
}

.nota p {
    margin-top: 10px;
}

.referencias {
    font-size: 1em;
    color: black;
    margin-bottom: 10px;
}

footer p {
    text-align: center;
    margin-top: 10px;
    font-size: 0.9em;
    color: #555;
}

a {
    display: inline-block;
    margin-top: 20px;
    color: black;
    text-decoration: none;
}

li {
    margin-left: 5%
}


.citacao {
    font-style: italic;
    color: #555;
    border-left: 4px solid #00539b;
    margin: 20px 0;
    padding: 15px;
    line-height: 1.8;
    background-color: #f9f9f9;
    font-size: 1em;
}

.citacao cite {
    display: block;
    margin-top: 10px;
    font-style: normal;
    color: #333;
    font-size: 0.95em;
    text-align: right;
}

.figura {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.figura img {
    max-width: 100%;
    height: auto;
    border: 2px solid #00539b;
    padding: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.figura figcaption {
    margin-top: 10px;
    font-size: 0.9em;
    color: #555;
    font-style: italic;
    text-align: center;
}

.artigo {
    margin: 40px 0;
}

.artigo h1 {
    font-size: 2em;
    color: black;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}

.artigo .autor {
    font-size: 1em;
    color: #333;
    margin-bottom: 20px;
    font-style: italic;
    text-align: center;
}

